.dropdown {
  padding: 16px;
}

.input {
  width: 100%;
  padding: 8px 12px;
}

.optionsTitle {
  margin: 8px 0;
  font-size: 20px;
}
.option {
  align-items: center;
  border-radius: 5px;
  display: flex;
  font-size: 14px;
  padding: 5px;
  padding-right: 10px;
}

.active {
  background-color: #f0f0f0;
}

.selected {
}

.option .tick {
  color: #0d0d0d;
  margin-left: auto;
}
