.title {
  width: 100%;
  text-align: center;
}

.input {
  padding: 4px;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 4px;
}

.input.inputError {
  border-color: red;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
