.button {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 16px;
  transition: background-color 0.1s ease-in-out, opacity 0.1s ease-in-out;
  user-select: none;
}

.button:hover {
  background-color: #d0d0d0;
}
