.cardsColumn {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.card {
  margin-top: 10px;
}

.addCard {
  margin-top: 10px;
}
.cardsContainer {
  min-height: 20px;
  padding: 5px;
}

.active {
  border-radius: 4px;
  min-height: 100px;
  background-color: rgba(0, 204, 102, 0.6);
}
