.cardsColumn {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
}

.card {
  margin-top: 10px;
}

.addCard {
  margin-top: 10px;
}
.cardsContainer {
  min-height: 20px;
}

.active {
  min-height: 100px;
  background-color: #06c;
}
