.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fdfdfd;
  color: #0d0d0d;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
}

.card:hover {
  background-color: #f0f0f0;
  box-shadow: -4px 5px 33px -6px rgba(0, 0, 0, 0.5);
}

.users {
  display: flex;
  margin-top: 10px;
  margin-left: auto;
}
.user {
  margin-left: 3px;
}
