.users {
  display: flex;
}

.userAvatar {
  margin-left: 10px;
}
.popOverWrapper {
  position: relative;
}

.popOver {
  position: absolute;
  left: 0;
  top: 40px;
  background-color: #fdfdfd;
  border-radius: 5px;
  width: 300px;
  padding: 10px 15px;
  box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
}

button.plus {
  margin-left: 20px;
  border-radius: 50%;
  padding: 0;
  width: 32px;
  height: 32px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
