.optionWrapper {
  position: relative;
  width: 100%;
}

.option {
  border-radius: 5px;
  min-height: 25px;
  line-height: 25px;
  padding-right: 10px;
  display: flex;
  width: 100%;
}

.label {
  margin-left: 10px;
  color: #fdfdfd;
}

.tick {
  margin-left: auto;
}

.optionCover {
  background-color: #000;
  opacity: 0.2;
  width: 0;
  transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.activeOption .optionCover {
  width: 15px;
}
