.modal {
  width: 70vw;
  min-width: 600px;
}

.dropdown {
  margin-top: 10px;
}

.newUserSection {
  display: flex;
  justify-content: center;
}

.newUserSection button {
  margin-left: auto;
}

.userOption {
  display: flex;
  border-bottom: 2px #eee solid;
}

.userOption > div,
.userOption > input {
  width: 100%;
  padding: 4px;
  border-width: 1px;
  border-color: #ccc;
}
.userOption > * {
  margin: 10px;
}

.addUserForm {
  display: flex;
  flex-direction: column;
}
